@using VideoStore.WebClient.ViewModels
@model VideoStore.WebClient.ViewModels.CreateReviewViewModel

@{
    ViewBag.Title = "CreateReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Review</h2>
@using (Html.BeginForm("CreateReview", "Media", new { pMediaId = Model.Media.Id, pUserName = Model.User.UserName }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <h4>Write your Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Review Date:</dt>
            <dd>
                @Html.DisplayFor(m => m.ReviewDate)
            </dd>
            <br />
            <dt>Review Name:</dt>
            <dd>
                @Html.DisplayFor(m => m.User.UserName)
            </dd>
            <br />
            <dt>Location:</dt>
            <dd>
                @Html.DisplayFor(m => m.User.LocationString)
            </dd>
            <br />
            <dt>Title:</dt>
            <dd>
                @Html.TextBoxFor(m => m.Title)
            </dd>
            <br />
            <dt>Content:</dt>
            <dd>
                @Html.TextAreaFor(m => m.Content)
            </dd>
            <br />
            <dt>Rating:</dt>
            <dd>
                @Html.DropDownListFor(x => x.Rating, new SelectList(new int[] { 1, 2, 3, 4, 5 }))
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
}
