@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>Details WIP</p>

<label>Title</label>
@Html.DisplayFor(x => Model.Media.Title)

<label>Director</label>
@Html.DisplayFor(x => Model.Media.Director)

<label>Genre</label>
@Html.DisplayFor(x => Model.Media.Genre)

<label>Price</label>
@Html.DisplayFor(x => Model.Media.Price)

<label>StockCount</label>
@Html.DisplayFor(x => Model.Media.StockCount)
