@using Microsoft.AspNet.Identity
@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>Details WIP</p>

<p>Title: @Html.DisplayFor(x => Model.Media.Title)</p>
<p>Director @Html.DisplayFor(x => Model.Media.Director)</p>
<p>Genre @Html.DisplayFor(x => Model.Media.Genre)</p>
<p>Price @Html.DisplayFor(x => Model.Media.Price)</p>
<p>StockCount @Html.DisplayFor(x => Model.Media.StockCount)</p>
<p>Average Rating @Html.DisplayFor(x => Model.AverageRating)</p>

<table>
    <tr>
        <th>Reviews</th>
        <th>@Html.ActionLink("Create Review", "CreateReview", "Media", new { pMediaId = Model.Media.Id, pUser = User.Identity.GetUserId()}, null)</th>
    </tr>
    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>
                @item.Title | 
                @item.Rating |
                @item.Date |
                @item.Content |
                @item.User.LocationString | @*Errors here Review.User Object is not getting mapped..*@
                @item.User.Name |
            </td>
        </tr>
    }
    @if (!Model.Reviews.Any())
    {
        <tr>
            <td>There are no reviews for this item.</td>
        </tr>
    }
</table>