@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>Details WIP</p>

<p>Title: @Html.DisplayFor(x => Model.Title)</p>
<p>Director @Html.DisplayFor(x => Model.Director)</p>
<p>Genre @Html.DisplayFor(x => Model.Genre)</p>
<p>Price @Html.DisplayFor(x => Model.Price)</p>
<p>StockCount @Html.DisplayFor(x => Model.StockCount)</p>
<p>Average Rating @Html.DisplayFor(x => Model.AverageRating)</p>

<table>
    <tr>
        <th>Reviews</th>
        <th>@Html.ActionLink("Create Review", "CreateReview", "Media", new { mediaId = item.Id}, null)</th>
    </tr>
    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>
                public string Title { get; set; }
                public string Content { get; set; }
                public int Rating { get; set; }
                public DateTime Date { get; set; }

                public User User { get; set; }
                public Media Media { get; set; }
                @item.Title | 
                @item.Rating |
                @item.Date |
                @item.Content |
                @item.Location |
                @item.User.Name |
            </td>
        </tr>
    }
</table>