@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>Details WIP</p>

<p>Title: @Html.DisplayFor(x => Model.Media.Title)</p>
<p>Director @Html.DisplayFor(x => Model.Media.Director)</p>
<p>Genre @Html.DisplayFor(x => Model.Media.Genre)</p>
<p>Price @Html.DisplayFor(x => Model.Media.Price)</p>
<p>StockCount @Html.DisplayFor(x => Model.Media.StockCount)</p>