@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>Details WIP</p>

<p>Title: @Html.DisplayFor(x => Model.Title)</p>
<p>Director @Html.DisplayFor(x => Model.Director)</p>
<p>Genre @Html.DisplayFor(x => Model.Genre)</p>
<p>Price @Html.DisplayFor(x => Model.Price)</p>
<p>StockCount @Html.DisplayFor(x => Model.StockCount)</p>
@*<p>Average Rating @Html.DisplayFor(x => Model.AverageRating)</p>*@