@using Microsoft.AspNet.Identity
@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>Details WIP</p>

<p>Title: @Html.DisplayFor(x => Model.Media.Title)</p>
<p>Director @Html.DisplayFor(x => Model.Media.Director)</p>
<p>Genre @Html.DisplayFor(x => Model.Media.Genre)</p>
<p>Price @Html.DisplayFor(x => Model.Media.Price)</p>
<p>StockCount @Html.DisplayFor(x => Model.Media.StockCount)</p>
<p>Average Rating @Html.DisplayFor(x => Model.AverageRating)</p>

<table>
    <tr>
        <th>Reviews</th>
        <th>@Html.ActionLink("Create Review", "CreateReview", "Media", new { pMedia = Model.Media, pUser = User.Identity.GetUserName()}, null)</th>
    </tr>
    @foreach (var item in Model.Media.Reviews)
    {
        <tr>
            <td>
                @item.Title | 
                @item.Rating |
                @item.Date |
                @item.Content |
                @item.Location |
                @item.User.Name |
            </td>
        </tr>
    }
    @if (Model.Media.Reviews.Count() == 0)
    {
        <tr>
            <td>There are no reviews for this item.</td>
        </tr>
    }
</table>